<div class="mt-2 ml-5">
  <h1 class="title is-3"><%= @genre.genre_name %> Animes</h1>
  <ul>
    <% @animes.each do |anime| %>
      <li class="subtitle is-5"><%= link_to anime.title, anime %></li>
    <% end %>
  </ul>
</div>
