<div class="mt-4">
  <div class="ml-5">
    <h1 class="is-uppercase title is-5">About this Website</h1>
    <p class="subtitle is-5">This website retrieves anime data from Jikan API.</p>
  </div>

  <div class="ml-5 mt-2">
    <h2 class="is-uppercase title is-5">About the Jikan API</h2>
    <p class="subtitle is-5">
      The <a href="https://jikan.moe/" target="_blank">Jikan API</a> is an unofficial MyAnimeList API that allows developers to access anime data, including titles, genres, studios, and more.
    </p>
  </div>
</div>
