<div class="mt-4">
  <div>
    <h1 class="has-text-centered title is-4">Highest Rated Animes</h1>
  </div>

  <div class="mt-5 mx-5">
    <div class="columns is-multiline">
      <% @animes.each do |anime| %>
        <div class="column is-one-fifth">
           <%= link_to anime_path(anime) do %>
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <img
                    src="https://bulma.io/assets/images/placeholders/1280x960.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
                <p class="is-family-monospace	has-text-weight-semibold has-text-centered"><%= anime.title %></p>
              </div>
              <% end %>
          </div>
      <% end %>
  </div>
</div>

